config/dbConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration" type="configurationType"/>
    <xs:complexType name="configurationType">
        <xs:sequence>
            <xs:element type="partType" name="part"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="partType">
        <xs:sequence>
            <xs:element type="configType" name="config" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="configType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>